.col-1 {width: 6.67%;}
.col-2 {width: 13.34%;}
.col-3 {width: 20.01%;}
.col-4 {width: 26.68%;}
.col-5 {width: 33.35%;}
.col-6 {width: 40.02%;}
.col-7 {width: 46.69%;}
.col-8 {width: 53.36%;}
.col-9 {width: 60.03%;}
.col-10 {width: 66.7%;}
.col-11 {width: 73.37%;}
.col-12 {width: 80.04%;}
.col-13 {width: 86.71%;}
.col-14 {width: 93.38%;}
.col-15 {width: 100%;}

[class*="col-"] {
  float: left;
  /* border:1px solid red; */
}

body{
  background-image:url('../../CarRental/images/Background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

label{
  color:white;
}

input{
  width:10%;
  background: transparent;
  border: solid white 2px;
}

nav{
  background-color: #007bff00!important;
  box-shadow: 5px 5px 10px #343a40, 10px 10px 20px #495057;
}

#searchDiv
{
  height:60%;
  margin:4% 10%;
  margin-bottom: auto;
  padding:1%;
}

#searchDiv>form>input{
  margin-bottom:5%;
}